
params.total_reads = 10000 // Total number of reads per file (10k reads generates a ~1GB file)
params.num_files = 10      // Number of FASTQ files to generate in parallel and concatenate
params.small_files = 1000  // Number of small files to generate in a single process

process.container = 'quay.io/nextflow/bash'
process.cpus = 4
docker.enabled = true
