
params.total_reads    = 10000 // Total number of reads per file (10k reads generates a ~1GB file)
params.num_files       = 10    // Number of FASTQ files to generate in parallel and concatenate
params.small_files     = 1000  // Number of small files to generate in a single process
params.run            = null  // Tools to selectively run
params.skip           = ''    // Tools to selectively skip
params.use_small_files = true  // Use small files in downstream operations
params.use_fastq_files = false // Use FASTQ files in downstream operations

process.container = 'quay.io/nextflow/bash'
process.cpus      = 4
process.memory    = { 2.GB * task.attempt }
docker.enabled    = true

process.when = { 
    ( params.run ? params.run.split(',').any{ "${it.toUpperCase()}".contains(task.process) } : true ) && 
    (!params.skip.split(',').any{ "${it.toUpperCase()}".contains(task.process) } ) 
}