
params.enable_fastq_files  = true  // Whether to generate FASTQ files or not
params.fastq_n_files       = 10    // Number of FASTQ files to generate in parallel and concatenate
params.fastq_n_reads      = 10000 // Total number of reads per file (10k reads generates a ~1GB file)
params.fastq_read_length  = 53676 // Read length in generated FASTQ files
params.process_fastq_files = false // Use FASTQ files in downstream operations

params.enable_zero_files   = true  // Whether to generate zero files or not
params.zero_n_files        = 1000  // Number of small files to generate in a single process
params.zero_file_size      = 10
params.process_zero_files = true  // Use small files in downstream operations

params.run                = null  // Tools to selectively run
params.skip               = ''    // Tools to selectively skip

process.container = 'quay.io/nextflow/bash'
process.cpus      = 4
process.memory    = { 2.GB * task.attempt }
docker.enabled    = true

process.when = { 
    ( params.run ? params.run.split(',').any{ "${it.toUpperCase()}".contains(task.process) } : true ) && 
    (!params.skip.split(',').any{ "${it.toUpperCase()}".contains(task.process) } ) 
}

profiles {
    test {
        params.enable_fastq_files  = true  // Whether to generate FASTQ files or not
        params.fastq_n_files       = 2     // Number of FASTQ files to generate in parallel and concatenate
        params.fastq_n_reads      = 10    // Total number of reads per file (10k reads generates a ~1GB file)
        params.fastq_read_length  = 50    // Read length in generated FASTQ files
        params.process_fastq_files = false // Use FASTQ files in downstream operations

        params.enable_zero_files   = true  // Whether to generate zero files or not
        params.zero_n_files        = 10    // Number of small files to generate in a single process
        params.zero_file_size      = 10
        params.process_zero_files = true   // Use small files in downstream operations

        params.run                = null  // Tools to selectively run
        params.skip               = ''    // Tools to selectively skip
    }
}